.hero{

height:85vh;

display:flex;

align-items:center;

padding-left:80px;

background:linear-gradient(
135deg,
#E8FFF4,
white
);

}

.hero-text{

max-width:650px;

}

.hero h1{

font-size:60px;

margin-bottom:25px;

line-height:1.2;

}

.hero p{

font-size:22px;

color:#666;

margin-bottom:35px;

line-height:1.7;

}

.buttons{

display:flex;

gap:20px;

}

.warning{

background:#FFF3CD;

padding:18px;

text-align:center;

font-weight:bold;

color:#8A6D3B;

}